.sb {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 5px 0px #0000004d;
    background: white;
}

.sb-logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.sb-logo-image {
    width: 2rem;
}

.sb-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 14px;
    margin-bottom: 5rem;
}

.sb-list li span{
    padding: 0px 4px;
}